*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, Helvetica, sans-serif;
}

body{
background:#e5e5e5;
height:100vh;
display:flex;
align-items:center;
justify-content:center;
}

.login-container{
width:420px;
}

.login-card{
background:white;
padding:35px;
border-radius:10px;
box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

.logo{
display:flex;
justify-content:center;
margin-bottom:15px;
}

.logo img{
width:70px;
}

h2{
text-align:center;
margin-bottom:5px;
}

.subtitle{
text-align:center;
font-size:14px;
color:#777;
margin-bottom:25px;
}

label{
font-size:14px;
margin-top:10px;
display:block;
}

input{
width:100%;
padding:10px;
margin-top:6px;
border:1px solid #ccc;
border-radius:6px;
font-size:14px;
}

.default-text{
font-size:12px;
color:#5b2be0;
margin-top:4px;
margin-bottom:10px;
}

.login-btn{
width:100%;
padding:12px;
margin-top:15px;
border:none;
border-radius:6px;

background:linear-gradient(90deg,#6a11cb,#2575fc);
color:white;

font-size:15px;
cursor:pointer;
}

.login-btn:hover{
opacity:0.9;
}

.divider{
display:flex;
align-items:center;
margin:20px 0;
}

.divider::before,
.divider::after{
content:"";
flex:1;
height:1px;
background:#ddd;
}

.divider span{
margin:0 10px;
font-size:13px;
color:#666;
}

.demo-title{
text-align:center;
font-size:13px;
color:#666;
margin-bottom:8px;
}

.demo-box{
background:#f1f1f1;
padding:12px;
border-radius:6px;
font-size:14px;
}

#errorMsg{
color:red;
text-align:center;
margin-top:10px;
font-size:13px;
}